<%- include('partials/header') %>

    <!-- ####  YOUR HTML CODE HERE START-->
    <div class="button-container">
        <button id="deleteInvoices"><img width="30" height="30" src="https://img.icons8.com/pulsar-line/48/delete.png"
                alt="delete" /></button>
        <button id="pullInvoices">Pull invoices</button>
        <button id="createTag">Create tag</button>
        <button id="addTag">Add tag</button>
    </div> 
    <div class="table_section">
        <table>
            <thead>
                <th><input type="checkbox" class="all-invoices" value="invoice3"></th>
                <th>Nr</th>
                <th>Supplier</th>
                <th>Payment term</th>
                <th>Total amount</th>
                <th>Status</th>
                <th>Buttons</th>
            </thead>
            <tbody>
                <% invoices.forEach((invoice, index) => { %>
                    <tr>
                        <td><input type="checkbox" class="invoice-checkbox" value="<%= invoice.id %>"></td>
                        <td><%= index + 1 %></td>
                        <td><%= invoice.supplier_name %></td>
                        <td><%= new Date(invoice.due_date).toLocaleDateString('en-US') %></td>
                        <td><%= invoice.total_amount %></td>
                        <td>
                            <span class="unpaid">unpaid</span>
                        </td>
                        <td>
                            <button>Paid</button>
                            <button>Manage</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <!-- ####  YOUR HTML CODE HERE END-->

    <%- include('partials/footer') %>